.button {
	display: flex;
	align-items: center;
	justify-content: center;

	border: none;
	padding: 8px;
	min-width: 36px;
	height: 36px;
	border-radius: 8px;
	background: #fff;
	transition: background 0.2s;

	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
}

.button:hover {
	background: #eee;
}
